<footer class="footer">
    <br>
    <div class="deals">NEVER MISS OUT ON OUR MOST POPULAR DEALS</div><br>
    <div class="destinations">Hot Destinations</div><br>
    <div class="buttons">
    <button>Amsterdam</button>
    <button>Bangkok</button>
    <button>Bengaluru</button>
    <button>Berlin</button>
    <button>Budapest</button>
    <button>Copenhagen</button>
    <button>Dubai</button>
    <button>Dublin</button>
    <button>Gran Canaria</button>
    <button>Istanbul</button>
    <button>London</button>
    <button>Manchester</button>
    <button>Milan</button>
    <button>New Delhi</button>
    <button>Oslo</button>
    <button>Paris</button>
    <button>Shanghai</button>
    <button>Stockholm</button>
    <button>Sydney</button>
    <button>Zurich</button>
</div>
<div class="section">
<div class="links">Quick Links <br><br>
    <a>Best Online Rate Guarantee</a><br>
    <a>Blog</a><br>
    <a>Destinations</a><br>
    <a>New and upcoming hotels</a><br>
    <a>Radisson Hotels APP</a><br>
    <a>Sports Approved hotels</a><br>
    <a>Family Friendly Hotels</a><br>
    <a>Health & Safety</a><br>
</div>
<div class="pro">Travel Professionals<br><br>
    <a>Partners</a><br>
    <a>Travel Agents</a><br>
</div>
<div class="corporate">Corporate<br><br>
    <a>Radisson Hotel Group</a><br>
    <a>Media</a><br>
    <a>Careers RHG</a><br>
    <a>Careers PPHE</a><br>
    <a>Careers EHL</a><br>
    <a>Development Opportunities</a><br>
    <a>Responsible Business</a><br>
    <a>Procurement</a><br>
</div>
<div class="legal">Legal<br><br>
    <a>Privacy Center</a><br>
    <a>Legal Notice</a><br>
    <a>Radisson Rewards terms and conditions</a><br>
    <a>Site usage agreement</a><br>
    <a>Digital Accessibility</a><br>
    <a>Modern Slavery Statement</a><br>
</div>
<div class="help">Help<br><br>
    <a>Consumer alerts</a><br>
    <a>Contact</a><br>
    <a>FAQ</a><br>
    <a>Sitemap</a>
</div>
</div>
<div class="rights">
<div class="copyright">© 2024 Radisson Hotel Group. </div>
<div class="right">All rights reserved. RHG Radisson Hotel Group, Radisson, Radisson RED, Radisson Blu, Radisson Collection, Radisson Individuals, Park Plaza, Park Inn, Country Inn & Suites, prizeotel, Radisson Rewards, and Radisson Meetings are trademarks of Radisson Hotel Group.</div></div>
</footer>